body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:darkorange;
    color: black;
}

.nieuwspolitie,
.nieuwsajax,
.nieuwsstikstof {
    background-color: white;
    color: black;
    width: 100%;
    letter-spacing: 1px;
    border-radius: 5px;
    border: 4px solid darkorange;
}

.nieuwspolitie img,
.nieuwsajax img {
    border: 2px solid darkorange;
    width: 25%;
    float: left;
    margin: 5px;
}

.nieuwsstikstof img {
    float: right;
    border: 2px solid darkorange;
    width: 25%;
    margin: 5px;
}

.nieuwspolitie img:hover {
    filter: saturate(5);
}

.nieuwsstikstof img:hover {
    filter: opacity(49%);
}

.nieuwsajax img:hover {
    filter: none;
}

.nieuwspolitie {
    height: 470px;
}

.nieuwsajax {
    height: 360px;
}

.nieuwsstikstof {
    height: 405px;
}

p {
    padding: 3px;
}

.titel {
    font-size: x-large;
}

@media screen and (max-width: 768px) {

    .nieuwspolitie,
    .nieuwsajax,
    .nieuwsstikstof {
        height: auto;
        border: 0px;
        border-radius: 0px;
    }

    .nieuwspolitie img,
    .nieuwsajax img,
    .nieuwsstikstof img {
        width: 50%;
        margin: 0px;
        border: 0px;
        margin: 3px;
        
        
        /* Behoud de volledige breedte van de afbeeldingen voor mobiele weergave */
    }
}